.App {
  text-align: center;
}

.child {
  padding: 3rem;
}
.one {
  background-color: skyblue;
}

.two{
  background-color: limegreen;
}

.three {
  background-color: yellow;
}

.custom-select {
  background-color: black;
  color: white;
}
.button {
  background-color: rgb(189, 24, 24);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 1rem;
}
